.MUIDataTableHeadCell-data-54{
    font-weight: 600 !important;
}

.MuiButton-label{
    font-weight: 800 !important;
}

.MuiTableCell-root{
    padding-left: 15px !important;
}

.MUIDataTableBodyCell-root-156{
    padding-left: 20px !important;
}

.MUIDataTableHeadCell-fixedHeader-51{
    padding-left: 40px !important;
}